langchain 
pypdf 
faiss-gpu
InstructorEmbedding 
sentence_transformers
huggingface_hub
gradio
watermark
openai==0.28.1
transformers
google-cloud-secret-manager
functions-framework==3.*
google-cloud-ndb==2.1.1
pandas-gbq==0.17.5
google-api-core==2.12.0
google-api-python-client==2.102.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-cloud-bigquery==3.12.0
google-cloud-core==2.3.3
google-cloud-logging==3.5.0
google-cloud-storage==2.11.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
Pillow==10.1
